{% for chatrow in loops.chatrow %}
	<div id="p{{ chatrow.MESSAGE_ID }}" class="chatpost {% if not S_AJAX_CHAT_CHATROW_FULL %}original {% endif %}bg{{ chatrow.CLASS }}{% if not S_AJAX_CHAT_MESSAGES_DOWN %} chat-messages-down{% endif %}">
		<div class="chat-postbody{% if !chatrow.USER_ID %} announce{% endif %}">
			{% if chatrow.USER_ID %}
			<div class="{% if S_AJAX_CHAT_AVATARS %}chat-postprofile{% else %}chat-postprofile-no-avatar{% endif %}" id="profile{{ chatrow.MESSAGE_ID }}">
				<div {% if S_AJAX_CHAT_AVATARS %}class="chat-avatars"{% endif %}>
					{% if S_AJAX_CHAT_AVATARS %}
						{% if chatrow.USER_AVATAR %}
							{% if S_AJAX_CHAT_AVATAR_HOVER %}
								<span>{{ chatrow.USER_AVATAR }}</span>
							{% endif %}
								{{ chatrow.USER_AVATAR_THUMB }}
						{% else %}
							{% if S_AJAX_CHAT_AVATAR_HOVER %}
								<span>
									<img src="{{ STYLE_PATH }}/theme/images/no_avatar.gif" height="128" alt="" />
								</span>
							{% endif %}
							<img src="{{ STYLE_PATH }}/theme/images/no_avatar.gif" alt="" />
						{% endif %}
					{% endif %}
				</div>
				<div class="chat-usernames bg{{ chatrow.CLASS }}">{{ chatrow.USERNAME_FULL }}<p><b class="chat-time">{{ chatrow.TIME }}</b></p></div>
			</div>
			{{ SMILIES_PATH }}
			<div class="message posted-message">
				{% INCLUDE 'chatrow_message_icons.html' %}
				{{ chatrow.MESSAGE }}
			</div>
			{% else %}
			<div class="message">
				<em>
					{% if chatrow.MESSAGE eq 'LOGIN_ANNOUNCE' %}
					<strong>*** <a href="#" style="text-decoration: underline;{% if chatrow.USER_COLOR %}color: #{{ chatrow.USER_COLOR }};{% endif %}" class="username-greet" title="Greet user">{{ chatrow.USERNAME_A }}</a> has entered the chat ***</strong>
					{% else %}
					<<< <span{% if chatrow.USER_COLOR %} style="color: #{{ chatrow.USER_COLOR }}"{% endif %}>{{ chatrow.USERNAME_A }}</span> has left the chat >>>
					{% endif %}
				</em>
			</div>
			{% endif %}
		</div>
	</div>
{% endfor %}